# Librería YData Profiling permite crear informes de AED con visualizaciones, estadística descriptivas, análisis de correlacción y detección de valores atípicos

In [4]:
# Importar librerías necesarias
import pandas as pd

In [5]:
# Cargar datos
df = pd.read_csv('Datos/titanic.csv',sep=',')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
# Generar reporte automático
from ydata_profiling import ProfileReport

report = ProfileReport(df,title="Reporte de Análisis Exploratorio de Datos")
# Guardar el reporte
report_file= 'titanic.html'
report.to_file(report_file)
report_file

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 12/12 [00:00<00:00, 48535.82it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

'titanic.html'